.fancy-word
{
   /* text-transform: uppercase; */
  background-image: linear-gradient(
    225deg,
    #fff 0%,
    #fff 29%,
    #31346A 67%,
    #A85A8C 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}